# IMP: STEPS to be followed 

https://github.com/ndas1971/ScalaQs/blob/master/winutils.exe

delete in windows file exploler d:\tmp

mkdir d:\tmp

cd d:\tmp

mkdir hive

winutils.exe chmod -R 777 D:/tmp


Then Use commandline

d:>handson\pyspark

In [3]:
spark

In [2]:
spark.sparkContext.getConf().getAll()

[('spark.driver.port', '15042'),
 ('spark.sql.catalogImplementation', 'hive'),
 ('spark.rdd.compress', 'True'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.driver.host', 'Home-E402'),
 ('spark.app.id', 'local-1600766044966'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.app.name', 'pyspark-shell')]

In [4]:
from pyspark.sql import *
import pyspark.sql.functions as F

file = 'data/spark/Cartier+for+WinnersCurse.csv'
acs = spark.read.format('csv').option('header', 'true')\
        .option('inferSchema', 'true').load(file)

acs.show()
print(len(dir(acs)), len(dir(F)), len(dir(F.col("bidder"))))

In [10]:
#basic 
acs.columns
acs.dtypes
acs.printSchema()

root
 |-- auctionid: integer (nullable = true)
 |-- bid: double (nullable = true)
 |-- bidtime: double (nullable = true)
 |-- bidder: string (nullable = true)
 |-- bidderrate: integer (nullable = true)
 |-- openbid: double (nullable = true)
 |-- price: double (nullable = true)

In [19]:
#Note .show() or .collect() is must to either display or collect the data in driver
#filter based whether bidder contains 'o'
acs.filter(F.col("bidder").contains('o'))
#OR 
acs.filter(acs.bidder.contains('o'))
#OR
acs.filter(acs['bidder'].contains('o'))

#Select few columns 
acs.filter(acs['bidder'].contains('o'))\
   .select("auctionid", "bidder").show()

+----------+--------------------+
| auctionid|              bidder|
+----------+--------------------+
|1638843936|           kona-java|
|1638843936|              doc213|
|1638843936|         carloss8055|
|1638843936|         carloss8055|
|1638843936|         carloss8055|
|1638844284|   dre_313@yahoo.com|
|1638844284|           njbirdmom|
|1638844464|           19750926o|
|1638844464|            coharley|
|1638844464|           19750926o|
|1638844464|           19750926o|
|1638844464|           19750926o|
|1638844464|           19750926o|
|1638844464|           19750926o|
|1638844729|k.s.cohen@verizon...|
|1638844729|k.s.cohen@verizon...|
|1638844729|k.s.cohen@verizon...|
|1638844729|k.s.cohen@verizon...|
|1638844729|k.s.cohen@verizon...|
|1638844729|k.s.cohen@verizon...|
+----------+--------------------+
only showing top 20 rows

In [28]:
acs.select("auctionid", 'bid').where("bid >= 1000")
#Create a new column 
df3 = acs.withColumn("new_price", F.col("price")* 2)
#df3.show()

#aggregations for full table
acs.agg(F.max('bid'), F.count('bidder')) #.show()
#per auctionId 
df4 = acs.groupBy('auctionid').agg(F.max('bid').alias("mb"), F.count('bidder').alias("cb"))\
                    .select("auctionid", "mb", "cb")
df4.toPandas()

     auctionid       mb  cb
0   1642005995   623.26  18
1   1647320738   452.87  12
2   1647567213  1525.00   2
3   1643201832  1599.00   4
4   1644724061   305.00  14
..         ...      ...  ..
92  1638844729   320.00  11
93  1649567847  2325.00  16
94  1646007296   113.50   4
95  1638917885   227.50  13
96  1644739924   455.00  18

[97 rows x 3 columns]